# Auto detect text files and perform LF normalization
* text=auto
.gitattributes export-ignore
.gitignore export-ignore
tes3cmd.exe export-ignore
tes3cmd_convert_to_ESM.bat export-ignore
tes3cmd_convert_to_ESP.bat export-ignore
.git export-ignore
Developer Tools export-ignore
Developer Tools/** export-ignore